.persona-tutor {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.persona-tutor--fotoYNombre {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
}
.persona-tutor--foto {
    border-radius: .5rem;
    overflow: hidden;
    margin-left: .35rem;
    width: 6.9rem;
}
.persona-tutor--foto img {
    display: block;
}
.registro-nuevo {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    width: 100%;
    justify-content: space-between;
}
.registro-nuevo details {
    width: 75%;
    padding: 12px;
    border-radius: 10px;
}
.preregistro-pasos [class^="cajaBasica--"] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}
.preregistro-pasos [class^="boton__"] {
    min-height: 0;
}
.estudianteR {
    overflow: hidden;
}
.estudianteR-nombre {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--neutro200);
    column-gap: .5rem;
}
.estudianteR [class^="boton__"] {
    width: 100%;
}

@media (max-width:767.5px) {
    .persona-tutor, .persona-tutor--fotoYNombre {
        flex-direction: column;
        text-align: center;
    }
    .registro-nuevo {
        flex-direction: column;
    }
    .registro-nuevo details {
        width: 100%;
    }
    .preregistro-pasos .cajaBasica--16 {
        flex-direction: column;
    }
    
}