input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  background-image: url('./../../icons/close--outline.svg');
  background-size: contain;
  cursor: pointer;
}
.lista--puntual {
    list-style-type: disc;
    padding-left: 1.5rem;
}
.lista--puntual li, .lista--sinBullets li {
    margin-bottom: 1.5rem;
}
.lista--sinBullets {
    list-style: none;
    padding-left: 0;
}
ol.anatomia {
    list-style: none;
    counter-reset: mi-contador;
}
ol.anatomia > li {
    counter-increment: mi-contador;
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;
    font-size: .75em;
    line-height: 230%;
    margin-bottom: 1.5rem;
}
/*BULLET*/
ol.anatomia > li::before {
    content: counter(mi-contador);
    position: absolute;
    left: 0;
    top: 15px;
    transform: translateY(-50%);
    background-color: #C54600;
    color: white;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
ol.anatomia.dos-columnas {
    column-count: 2;
    column-gap: 40px; 
    list-style-position: inside;
    padding-left: 0;
}
ol.anatomia.dos-columnas > li {
    break-inside: avoid;
}
ol.anatomia ul {
    padding-left: 0;
}
ol.anatomia ul li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

ul.elementos ul, ul.elementos  {
    list-style: none;
    padding-left: 0;
}
ul.elementos > li {
    font-size: .75em;
    line-height: 230%;
    margin-bottom: 1.5rem;
}


.categoria {
    font-size: 1.33em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}
.ico-text {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(../../img/Type-icon.svg);
}
.ico-frame {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(../../img/Frame-icon.svg);
}
.ico-component {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(../../img/Component-icon.svg);
}

.color-ref--swatches {
    display: inline-block;
}

/*SWATCH*/
.color-ref {
    border: 1px solid var(--neutro700);
    display: inline-block;
    padding: 2px;
    line-height: 100%;
}
.color-ref--swatch {
    width: 15px;
    height: 15px;
    border: 1px solid var(--neutro700);
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}
.styleRef {
    display: inline-block;
    border: 1px solid var(--neutro500);
    padding: 3px 11px;
    border-radius: 15px;
    background-color: var(--neutro200);
    color: var(--neutro600);
    line-height: 100%;
}
.styleRef span {
    color:var(--pguinda600);
}
.ejemplo-barraBusqueda {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}
.ejemplo-barraBusqueda .deslizable {
    width: auto;
}

/* Barra de búsqueda en portada */
.form__inset.main-search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-radius: 3rem;
    background-color: #fff;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    margin: 1rem 0 2rem;
    padding: 6px 0 6px 12px;
    position: relative;
    overflow: hidden;
}

.general-search {
    margin: 1rem;
    width: auto;
    border-radius: 2rem;
}

.main-search .sh0r {
    margin: 0 1rem;
}

.sh0r.js-input {
    margin: 0;
    font-weight: 300;
    padding: .35rem 0 .5rem 1rem;
}

.search-icon {
    width: 1.5rem;
    margin: 0 0 0 .5rem;
}

.is-hidden {
    display: none !important;
}

.search-container {
    position: relative; /* Mantiene las listas posicionadas respecto al formulario */
}

/* Esto asegura que las listas se vean bien en ambos modelos */
.suggestions-list, .search-results {
    position: absolute;
    z-index: 100;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    top: 4rem;
    padding: 0;
    margin: 0 0 0 1.75rem;
    list-style: none;
}

.suggestions-list li, .search-results li {
    padding: .5rem;
    margin: .5rem;
    border-radius: .3rem;
}
.suggestions-list li:hover, .search-results li:hover {
    background: var(--neutro200);
    font-weight: 500;
    cursor: pointer;
}

.search-button { cursor:pointer; background-color: var(--principal); padding:32px 40px; border:none;}

@media (max-width: 768px) {
    .color-ref--swatches {
        display: inline-block;
        width: 12rem;
    }
    .color-ref--hold {
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    .sh0r.js-input {
        font-size: 1rem;
        padding: .35rem 0 .5rem .5rem;
    }
    .general-search .sh0r.js-input {
        padding: .3rem 0 .2rem .5rem;
        background: transparent;
    }
    .search-button {
        padding: 2rem 1rem;
    }
    .form__inset.main-search {
        height: 2.5rem;
    }
    .search-button img {
        width: 1.5rem;
    }
    .form__inset {
        padding: 0 0 0 .5rem;
    }
    
    .suggestions-list, .search-results {
        top: 2.5rem;
        margin: 0 0 0 1.3rem;
    }
}