/*Ficha*/
.colorFicha { border-radius:8px; padding:4px; box-shadow:2px 4px 8px rgba(20, 112, 245, .1); margin-bottom:8px; text-align: center;}
.colorFicha__muestra { border-radius:8px; height:98px; }
.colorFicha__hexa { text-align:center; display: block; padding:8px 0;}
.colorFicha__w220 { min-width:220px;}
.colorFicha__w200 { min-width:200px;}
.colorFicha__w220:has(.colorMuestra) { padding:16px 1px 0}
/*colorMuestra*/
.colorMuestra { position:relative;}
.colorMuestra__hex { display:flex; align-items:center; gap:8px;}
.colorMuestra__boton,
.colorMuestra__boton--dark { border:none; cursor:pointer; padding:16px; font-size:0.625rem; display:flex; justify-content:space-between; width:100%; align-items:center; white-space: nowrap; }
.colorMuestra__boton--dark { color:#FFF;}
[class*="colorMuestra__boton"]:hover,
[class*="colorMuestra__boton"]:focus { outline:1px solid var(--neutro500);}
.colorFicha__nameCaja { display:flex; align-items:center; gap:16px;}
.colorFicha__name { display: inline-flex; align-items:center; gap:8px; font-size:0.625rem; gap:4px; align-items:center; margin:8px auto; border:solid 1px var(--neutro700); padding:2px 3px; text-align:center; width:fit-content; background:#FFF; color:var(--neutro800);}
[class*="colorMuestra__boton"] .colorFicha__name { margin:0; }
.colorMuestra__boton--delgado { padding:8px 16px;}
.colorMuestra__boton--degradado { padding:0px 16px;}
.colorMuestra__boton--degradado .colorFicha__name { padding:2px 4px;}
.colorFicha__muestraMini { display:inline-block; width:14px; height:14px;}
.colorFicha__muestraMini.fondo--neutro100,
.colorFicha__muestraMini.fondo--neutro200 { box-shadow:0px 0px 0px 1px var(--neutro800) inset}
.colorMuestra__main { width:12px; position:relative; top:-1px;}
/*Deslizador en overflow*/
.colorDesliz  { overflow-x: auto; width:100%; scrollbar-color:var(--neutro500) #FFF; scrollbar-width:thin; padding-bottom:8px;}

/*Deslizador o scrollable*/
@media (max-width:767.9px) {
    [class*="fila--"].colorDesliz { display:flex;}
    .colorFicha { flex-shrink: 0; }
    .colorDesliz { scrollbar-color:transparent transparent; }
}

/*Copiado*/
.copiado { font-size:0.75rem; padding:0px 4px; position:absolute; background:var(--neutro600); color:#FFF; bottom:calc( 100% - 0px); right:0; display:none;}
.copiado b { font-weight:400;}