/*GENERAL*/
.abrir-dialog { cursor:pointer}
dialog { border:none; box-shadow:0px .25rem .25rem .1rem rgba(0,0,0,0.3);}
dialog::backdrop { background:rgba(0,0,0,0.25); backdrop-filter:blur(0.5px);}

/*MEDIA*/
.dialog__medium { width:50vw; border-radius:1rem; padding:1.5rem 2rem;}

/*MINI*/
.dialog__dminimal { width:30rem; border-radius:1rem; padding:1.5rem 2rem;}
.dminimal__tit    { margin:1.25rem 0; font-size:1rem; font-weight:600}
.dminimal__header { position:relative}
.dminimal__header--cerrar { margin-top:16px;}
.dminimal__body   { font-size:1rem;}
.dminimal__footer { display:flex; column-gap:1rem; align-items:center; justify-content:flex-end; margin-top:1.75rem;}
.dminimal--center { text-align:center; justify-content:center;}
.dminimal__linkIcon { display:flex; align-items:center; column-gap:.5rem;}
.dminimal__cerrar { font-size:1rem; background:none; border:none; font-size:2rem; font-weight:300; line-height:normal; padding:0; opacity:.5; border-radius:500px; width:1rem; position:absolute; right:0; top:-0.5rem;}
.dminimal__cerrar:hover { opacity:1; background:#fcfcfc;}
.dminimal__body .form__grupo { text-align:left;}
.dminimal--eidt .dminimal__tit { margin:0 0 1.25rem; text-align:center;}
.dminimal--eidt button { width:100%;}
/*ALERTA*/
.dialog__alerta {  padding:0; width:30rem; border-radius:1rem;}
.alerta__header--verde500 { background:var(--verde500)}
.alerta__header--rojo500 { background:var(--rojo500)}
.alerta__header--caution { background:var(--dorado500)}
[class^="alerta__header"] { text-align:center; display:flex; align-items:center; justify-content:center; flex-direction:column; row-gap:1rem; padding:1.5rem 0; position:relative;}
[class^="alerta__header"]:before { content:""; background:linear-gradient(-20deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 90%); width:100%; height:100%; display:block; position:absolute; z-index:0;}
.alerta__icono,
.alerta__tit,
.alerta__desc { position:relative;}
.alerta__icono { width:80px; height:80px; position:relative; animation:alertaIcono .5s;}
.alerta__tit,
.alerta__desc { font-size:1.5rem; font-weight:bold; margin:0; color:#FFF; }
.alerta__tit  { font-size:1.5rem}
.alerta__desc { font-size:1.25rem}
.alerta__body { padding:1rem 2rem 0rem; text-align:center; line-height:1.5rem; }
.alerta__footer { padding:1rem 2rem; display:flex; flex-direction:column; row-gap:1rem; width:fit-content; margin: auto;}

/*botón cerrar*/
.dialog__cerrar { cursor:pointer;}
.dialog__cerrar--esquinado { cursor:pointer; border:none; padding:4px; position:absolute; top:1rem; right:0.5rem; z-index:1; border-radius:50%; width:32px; height:32px; display:flex; align-items:center; justify-content:center; color:var(--nativoGris); background:transparent;}
.dialog__cerrar--esquinado:hover { color:var(--nativoGrisHover); background:#EFEFEF;}
.dialog__cerrar--esquinado:active { color:var(--nativoGrisActive); background:#DDD;}

/*FullScreen*/
.dialog--full { width:100vw; height:100vh; box-shadow:none; padding:0; margin:0; background:#CCC;}
.dialog--full::backdrop { background:#FFF; inset:unset;}
/*se obtiene pr shadow DOM de user-agent 
dialog.dialog--full:-internal-dialog-in-top-layer {
    max-width: calc(100%);
    max-height: calc(100%);
}
    */


/*ANIMACIONES*/
/*Todos los dialog*/
dialog,
dialog::backdrop {animation:cerrarDialog .5s forwards;}
dialog[open],
dialog[open]::backdrop {animation:abrirDialog .5s forwards;}
@keyframes abrirDialog  {from { opacity:0} to {opacity:1}}
@keyframes cerrarDialog {from { opacity:1} to {opacity:0}}

/*Alerta icono*/
@keyframes alertaIcono  {0% { top:-1.5rem} 100% {top:0rem}}

/*dialogShare*/
.dialogShare { border-radius:20px;}
.dialogShare header { display:flex; flex-direction:column; justify-content:flex-end;}
.dialogShare__tit { display:flex; column-gap:1rem; font-size:1.25rem; align-items:center; justify-content:center; font-weight:normal; margin:0rem 0 1rem;}

.dialogShare__link{ display:flex; flex-direction:column; padding:.5rem .1rem; text-decoration:none; text-align:center; font-weight:600; color:#000; font-size:.75rem; align-items:center; row-gap:.75rem; }
.dialogShare__link img { width:4.5rem; height:4.5rem;}
.dialogShare__link img:hover{filter: brightness(95%);}

.dialogShare__lista { list-style-type:none; display:flex; column-gap:1.2rem; padding:0;}
.dialogShare__cerrar { font-size:1rem; background:none; border:none; font-size:3rem; font-weight:300; line-height:normal; padding:0; margin:-.625rem -.625rem 0 0; opacity:.5; border-radius:500px; width:3.5rem; align-self: flex-end;}
.dialogShare__cerrar:hover { opacity:1; background:#fcfcfc;}

@media (max-width:420px) {
    .dialogShare__lista { column-gap:.75rem;}
    .dialogShare__link img { width:2.5rem; height:2.5rem;}
    .dialogShare__link { font-weight:600;}
}