[class*="pildora--"] {
  font-size: 0.875rem;
  border-radius: 1rem;
  padding: 4px 12px;
  color: var(--neutro700);
  white-space: nowrap;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 8px;
  border: 1px solid transparent;
  line-height: 1;
}
.pildora--w100,
.pildora--100,
.pildora--100w { width:100%;}

[class*="pildora--exito"] { --pildora-color: var(--verde500); border-color: var(--pildora-color); background-color: var(--verde100);}
[class*="pildora--error"] { --pildora-color: var(--rojo500); border-color: var(--pildora-color); background-color: var(--rojo100);}
[class*="pildora--alerta"] { --pildora-color: var(--alerta); border-color: var(--pildora-color); background-color: var(--amarillo100);}
[class*="pildora--info"] { --pildora-color: var(--info); border-color: var(--pildora-color); background-color: var(--azul100);}
[class*="pildora--purple"] { --pildora-color: var(--purple); border-color: var(--pildora-color); background-color: var(--morado100);}
[class*="pildora--neutro"] { --pildora-color: var(--neutro700); border-color: var(--pildora-color); background-color: var(--neutro300);}
[class*="pildora--orange"] { --pildora-color: var(--orange); border-color: var(--pildora-color); background-color: var(--orange100);}
[class*="pildora--naranja"] { --pildora-color: var(--naranja500); border-color: var(--pildora-color); background-color: var(--naranja100);}
[class*="pildora--inactivo"] { --pildora-color: #434343; border-color: var(--pildora-color); background-color: #DDDDDD;}

[class*="pildora--"][class*="--dot"]::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--pildora-color);
  flex-shrink: 0;
}

/*Pildora filtro*/
.pildoraFiltro { font-size:0.875rem; border-radius:50rem; border:solid 1px var(--btnColor); color:var(--btnColor); background:#FFF; padding:7px 16px; white-space:nowrap; text-align:center; width:fit-content; gap:8px; line-height:normal; cursor: pointer; display:flex; align-items:center;}
.pildoraFiltro__cerrar { width:24px; display:none;}
.pildoraFiltro__grupo { display:flex; gap:8px; flex-wrap: wrap;}

.pildoraFiltro:hover { background-color:var(--btnColor100);}
/*seleccionado*/
.pildoraFiltro[aria-pressed="true"] { background-color:var(--btnColor); border:solid 1px var(--btnColor); color:#FFF;}
.pildoraFiltro[aria-pressed="true"]:hover { background-color:var(--btnColor500); border-color:var(--btnColor500); }
.pildoraFiltro[aria-pressed="true"] .pildoraFiltro__cerrar { display:block;}

[class*="pildora"][class*="borde--no"] { border:none;}
