/*RUTA o BREADCRUMB*/
.ruta__cont { margin:0px; padding:0; display:flex; align-items: center; justify-content:start;}
.ruta__lista { display:flex; list-style-type:none; padding:0px; margin:auto; width:100%;}
.ruta__li { display:flex; align-items:center; line-height:normal; color:var(--neutro600); padding:4px 0;}
.ruta__li:after { content:""; width:24px; height:24px; background-image:url(../../icons-base/chevron--right.svg); background-repeat:no-repeat; background-position:center; display:inline-block; opacity:0.55; margin:0 8px 0 16px; }
.ruta__li:last-of-type::after { content:none;}
.ruta__li[aria-current] { }
.ruta__home { width:24px; filter:var(--filtroPrimario);}
.ruta__a { display:flex; align-items:center; text-decoration:none; color:var(--neutro800); font-weight:600; }
a.ruta__a:hover { text-decoration:underline; color:var(--neutro800)}
a.ruta__a:hover .ruta__home { opacity:0.8;}

.ruta__cont--overflow { overflow-x:auto; width:100%; white-space:nowrap;  scrollbar-color:var(--neutro500) #FFF; scrollbar-width:thin; padding-bottom:8px;}

.ruta__home { filter: var(--filtroPrimario);}

/*fata una ruta cuando va en fondo de color Primario, ej, sobre un jumbotron*/