.timeline01__ol { list-style-type:none; margin:0; padding:0; --timeline01W:64px}
.timeline01__li { display:flex; gap:24px; position:relative; z-index:1; min-height:100px;}
.timeline01__li:last-of-type { min-height:auto;}
.timeline01__li:after { content:""; background:var(--dorado500); bottom:0; left:calc( var(--timeline01W) / 2); width:2px; height:100%; position:absolute; z-index:-1;}
.timeline01__li:last-of-type:after { content:none;}
.timeline01__paso { width:var(--timeline01W); height:var(--timeline01W); border:solid 2px var(--dorado500); color:var(--dorado500); border-radius:50%; display:flex; align-items:center; justify-content:center; background:#FFF;}
.timeline01__icon { width:24px;}
[aria-current] .timeline01__paso { color:var(--dorado900); background:var(--dorado200);}
.timeline01__li--off .timeline01__paso {  border:solid 2px var(--neutro500); color:var(--neutro600)}
.timeline01__li--hecho .timeline01__paso {  border:solid 2px var(--pverde500); color:var(--pverde500) }
.timeline01__tit { margin:0; font-size:1.25rem; font-weight:600;}
.timeline01__desc { margin:10px 0 0 0; color:var(--neutro700);}
.timeline01__cont { width:calc( 100% - var(--timeline01W))}
.timeline01__hgroup { display:flex; flex-direction:row; align-items:start;}

/*version sm*/
.timeline01__ol.timeline01__ol--sm { --timeline01W:32px}
.timeline01__ol--sm .timeline01__li { gap:12px; min-height:68px;}
.timeline01__ol--sm .timeline01__li:last-of-type { min-height:auto;}
.timeline01__ol--sm .timeline01__icon { width:12px;}
.timeline01__ol--sm .timeline01__tit { font-size:.75rem;}
.timeline01__ol--sm .timeline01__desc { font-size:.75rem; margin:6px 0 0 0; color:var(--neutro800);}


@media (max-width:767.9px) {
    .timeline01__ol { --timeline01W:48px}
    .timeline01__li { gap:16px; padding-bottom:16px;}
    .timeline01__cont { width:calc(90% - var(--timeline01W));}
}