/*TIME LINE*/
.timeline { }
.timeline__ol { --TLgap:70px; --TLtop:24px; list-style-type: none; display:flex; flex-direction:column; margin:0; padding:0; gap:var(--TLgap);  color:#FFF; position:relative;}
.timeline__li { position:relative; z-index:0; line-height:normal; display:flex; align-items:center; column-gap:20px; margin:0;}
/*linea*/
.timeline__li:before {content: ""; height:calc( 30px + var(--TLgap)); top:calc( -10px + var(--TLgap)); width:2px; background:var(--dorado500); position: absolute; z-index:-1; left:32px;}

/*número*/
.timeline__num {  font-size:1.5rem; font-weight:700; background: var(--dorado200); border-radius:100px; display:flex; justify-content:center; align-items: center; width:64px; height:64px; color:var(--principal); border:solid 2px var(--dorado500); flex-shrink:0;}
.timeline__li:last-of-type::before { content:none;}
.timeline__link,
.timeline__link:visited,
.timeline__link:hover { color:#FFF;}

@media (max-width:767.9px) {
    .timeline__ol { grid-row-gap:30px}
    .timeline__li:before { height:calc( 20px + var(--TLgap)); }
}
/*desk*/
@media (min-width:768px) {
    .timeline__ol { column-gap: var(--TLgap);}
}